<html lang="nl">
<% for (var index = 0; index < data.expoWishlist.length; index++){%>
    <li>

        <header style="left:0;">
            <span style="font-size:10px; word-break:break-all;"><%= data.expoWishlist[index] %></span>
        </header>
        </a>
    </li>
<% } %>
