<form class="main-form" method="post">
    <fieldset>
        <legend>Log-in</legend>
        <p>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Naam@email.nl" required>
        </p>
        <p>
            <label for="wachtwoord">Wachtwoord</label>
            <input type="password" id="wachtwoord" name="password" placeholder="********" required>
        </p>
        <p>
            <button type="submit" name="button">Login</button>
        </p>
    </fieldset>
</form>
