* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*  Fonts  */
@font-face {
    font-family: "OpenSans Bold";
    src: url("../assets/fonts/open_sans/OpenSans-bold.woff");
}

@font-face {
    font-family: "OpenSans light";
    src: url("../assets/fonts/open_sans/OpenSans-light.woff");
}

@font-face {
    font-family: "OpenSans semibold";
    src: url("../assets/fonts/open_sans/OpenSans-semibold.woff");
}

@font-face {
    font-family: "OpenSans";
    src: url("../assets/fonts/open_sans/OpenSans.woff");
}

@font-face {
    font-family: "ClickerScript";
    src: url("../assets/fonts/Clicker_Script/ClickerScript-Regular.ttf");
}

/* Kleuren */
/* Groen:       #31a45c */
/* Donkerblauw: #31333d */
/* Lichtgrijs:  #f3f1f4 */

/* General styles */
body {
    font-family: "OpenSans", sans-serif;
    background: #31333d;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

body.bg-light {
    background-color: #f3f1f4;
}

h1 {
    font-family: "ClickerScript";
    color: white;
    font-size: 3em;
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: #31333d;

}



/* Nav */
nav.default {
    width: 100%;
    position: absolute;
    z-index: 10;
}
nav.detail {
    width: 100%;
    background: green;
    z-index: 10;
    position: fixed;
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
    font-weight: 100;
    color: #31333d;
    height: 38px;
    top: 0;
}

nav.detail div.back {
    position: absolute;
    font-size: 25px;
    width: 50px;
    margin-top: -5px;
}

.logo {
    width: 50%;
    padding: .5em 1.5em;
    max-width: 350px;
    background: #31a45c;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.logo img {
    width: 100%;
    align-self: center;
}


/* header */

header {
    width: 100%;
    position: relative;
}

header h1 {
    position: absolute;
    font-weight: 100;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 1em;
    bottom: -20px;
}

.header-bg {
    width: 100%;
}

.gradient-mask {
    position: absolute;
    height: 10em;
    width: 100%;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(49,51,61,0) 0%, rgba(49,51,61,1) 100%);
    background: -webkit-linear-gradient(top, rgba(49,51,61,0) 0%,rgba(49,51,61,1) 100%);
    background: linear-gradient(to bottom, rgba(49,51,61,0) 0%,rgba(49,51,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0031333d', endColorstr='#31333d',GradientType=0 );
}


/* main */
main {
    margin-top: 30px;
    display: block;
    position: relative;
    /* height: 100%; */
}

.main-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    height: auto;
    padding-top: 20px;
}

main.home {
    margin-top: 30px;
    display: block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}



main a.sub-cta{
    padding: 5px 20px;
    border: 1px solid #31a45c;
    margin: 10px;
    color: #31a45c;
    text-decoration: none;
    transition: ease .5s background;
}

main a.main-cta {
    padding: 5px 20px;
    border: 1px solid #31a45c;
    background: #31a45c;
    color:#31333d;
}

main a.sub-cta:hover {
    background: #31a45c;

}

/* Form */
label, input, textarea, button {
    margin: 1em 0;
}

input, textarea, button {
    font-size: 1em;
    padding: 0.5em;
    border-width: 0;
    border-radius: 0.25em;
}

input, textarea {
    width: 100%;
}

section.personal-info {
    width: 100%;
    color: #f3f1f4;

}

section.personal-info ul {
    border-bottom: 1px solid #f3f1f4;
    padding-bottom: 30px;
}

section.personal-info ul li{
    list-style: none;
    margin: 0;
    padding: 0 40px;
    font-size: 14px;
}

section.art-gallery {
    width: 100%;
    color: #f3f1f4;
    position: relative;
    border-bottom: 1px solid #f3f1f4;
}
section.art-gallery article {
    overflow-x: scroll;
    width: 100%;
}

section.art-gallery header {
    position: absolute;
    max-width: calc( 100vw - 30px);
    left: 15px;
    top: 15px;
}

section.art-gallery h2 {
    font-weight: 100;
    font-size: 16px;
    display: block;
}
section.art-gallery ul {
    width: 200%;
    padding-top: 50px;
    padding-bottom: 40px;
}

section.art-gallery ul li{
    border: 1px solid white;
    opacity: .5;
    display: inline-block;
    width: 110px;
    height: 140px;
    margin: 0 15px;
    position:relative;
}
section.art-gallery ul li a{
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

section.art-gallery footer {
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 12px;
}

header.search {
    position: fixed;
    top: 38px;
    background: lightgrey;
    height: 30px;
    padding: 2px 0;
    z-index: 10;
}
header.search form {
    display: inline-block;
    padding-left: 20%;
}
header.search a {
    display: inline-block;
    padding-left: 20px;
}

section.art-galleries {
    margin-top: 100px;
    width: 100%;
}

section.art-galleries ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

}

section.art-galleries ul li{
    border: 1px solid white;
    opacity: 1;
    background: grey;
    width: 31%;
    margin: 1% 0;
    height: 140px;
    position:relative;
}

section.art-galleries ul li .location-bg{
    background: red;
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

section.art-galleries ul li header {
    position: absolute;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
    height: 100%;
    bottom: 0;
    padding-bottom: 3px;
    padding-left: 3px;
    background: -moz-linear-gradient(top, rgba(49,51,61,0) 0%, rgba(49,51,61,1) 100%);
    background: -webkit-linear-gradient(top, rgba(49,51,61,0) 0%,rgba(49,51,61,1) 100%);
    background: linear-gradient(to bottom, rgba(49,51,61,0) 0%,rgba(49,51,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0031333d', endColorstr='#31333d',GradientType=0 );
}

section.art-galleries ul li header p.title {
    color: white;
    font-family: "ClickerScript";
    font-size: 25px;
}

section.art-galleries ul li header p.location {
    font-size: 12px;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

/* Forms */
