* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*  Fonts  */
@font-face {
    font-family: "OpenSans Bold";
    src: url("../assets/fonts/open_sans/OpenSans-bold.woff");
}

@font-face {
    font-family: "OpenSans light";
    src: url("../assets/fonts/open_sans/OpenSans-light.woff");
}

@font-face {
    font-family: "OpenSans semibold";
    src: url("../assets/fonts/open_sans/OpenSans-semibold.woff");
}

@font-face {
    font-family: "OpenSans";
    src: url("../assets/fonts/open_sans/OpenSans.woff");
}

@font-face {
    font-family: "ClickerScript";
    src: url("../assets/fonts/Clicker_Script/ClickerScript-Regular.ttf");
}

/* Kleuren */
/* Groen:       #31a45c */
/* Donkerblauw: #31333d */
/* Lichtgrijs:  #f3f1f4 */

/* General styles */
body {
    font-family: "OpenSans", sans-serif;
    background: #31333d;
}

h1 {
    font-family: "ClickerScript";
    color: white;
    font-size: 3em;
}



/* Nav */
nav {
    width: 100%;
    position: absolute;
    z-index: 10;
}

.logo {
    width: 50%;
    padding: .5em 1.5em;
    max-width: 350px;
    background: #31a45c;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.logo img {
    width: 100%;
    align-self: center;
}


/* header */

header {
    width: 100%;
    position: relative;
}

header h1 {
    position: absolute;
    font-weight: 100;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 1em;
    bottom: -20px;
}

.header-bg {
    width: 100%;
}

.gradient-mask {
    position: absolute;
    height: 10em;
    width: 100%;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(49,51,61,0) 0%, rgba(49,51,61,1) 100%);
    background: -webkit-linear-gradient(top, rgba(49,51,61,0) 0%,rgba(49,51,61,1) 100%);
    background: linear-gradient(to bottom, rgba(49,51,61,0) 0%,rgba(49,51,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0031333d', endColorstr='#31333d',GradientType=0 );
}
