<html lang="nl">
<head>
    <% include partials/head %>
</head>

<body>
    <nav class="default">
        <div class="logo">
            <img src="assets/logo.png" alt="site logo">
        </div>
    </nav>
    <header>
        <img src="assets/header2.jpg" alt="" class="header-bg">
        <div class="gradient-mask"></div>
        <h1>404 Page not found</h1>
    </header>
    <script src="http://localhost:3000/js/main.js"></script>
</body>
