<html lang="nl">
<head>
    <% include partials/head %>
</head>
<body>
    <nav class="default">
        <div class="logo">
            <a href="../index.html"><img src="../assets/logo.png" alt="site logo"></a>
        </div>
    </nav>
    <header>
        <img src="../assets/profile.jpg" alt="" class="header-bg">
        <div class="gradient-mask"></div>
        <h1>Martin de Jongh</h1>
    </header>
    <main>
        <section class="personal-info">
            <article class="">
                <ul>
                    <li>Job title</li>
                    <li>Location</li>
                    <li>Favorite artist</li>
                    <li>Recently visited art gallery</li>
                </ul>
            </article>
        </section>
        <section class="art-gallery">
            <article class="">
                <header>
                    <h2>Waar wil ik heen?</h2>
                </header>
                <ul>
                    <li><a href="/art-galleries">+</a></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <footer>
                    Bewerken..
                </footer>
            </article>
        </section>
        <section class="art-gallery">
            <article class="">
                <header>
                    <h2>Welke werken vind ik interessant?</h2>
                </header>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <footer>
                    Bewerken..
                </footer>
            </article>
        </section>
    </main>
    <script src="http://localhost:3000/js/main.js"></script>
</body>
</html>
