<html lang="nl" dir="ltr">
    <head>
        <% include partials/head %>
    </head>
    <body class="">
        <nav class="detail">
            <div class="back">
                <a href="/account"><</a>
            </div>
            <h2>Kunst tentoonstellingen</h2>
        </nav>
        <!-- <header class="search">
            <form class="" action="" method="">
                <input type="text" name="" value="">
            </form>
            <a href="">search</a>
        </header> -->
        <main>
            <% include partials/galleryList %>
        </main>

        <script src="../js/main.js"></script>
    </body>
</html>
