<html lang="nl">
<head>
    <% include partials/head %>
</head>
<body>
    <nav class="default">
        <div class="logo">
            <a href="../index.html"><img src="../assets/logo.png" alt="site logo"></a>
        </div>
    </nav>
    <header>
        <img src="../assets/expo-covers/<%= data.cover %>" alt="" class="header-bg">
        <div class="gradient-mask"></div>
        <h1><%= data.artist %></h1>
    </header>
    <main>
        <p class="title"><%= data.location %></p>
        <% if (user) { %>
        <form class="" method="post">
            <fieldset>
                <p>
                    <button type="submit" name="button">Ik wil hier heen</button>
                </p>
            </fieldset>
        </form>
        <% } %>

    </main>
    <script src="/js/main.js"></script>
</body>
</html>
