<html lang="nl">
<head>
    <% include partials/head %>
</head>

<body>
    <nav class="default">
        <div class="logo">
            <img src="assets/logo.png" alt="site logo">
        </div>
    </nav>
    <header>
        <img src="assets/header.jpg" alt="" class="header-bg">
        <div class="gradient-mask"></div>
        <h1>Zoek de ideale kunstzinnige partner</h1>
    </header>
    <main class="main-home">
        <% if (user) { %>
            <a class="sub-cta" href="/log-out">Log-uit</a>
            <a class="main-cta" href="/account/<%= user.name %>">Profiel pagina</a>
        <% } else { %>
            <a class="sub-cta" href="/login">Log-in</a>
            <a class="main-cta" href="/register">Register</a>
        <% } %>
    </main>
    <script src="http://localhost:3000/js/main.js"></script>
</body>
