<html lang="nl">
<head>
    <% include partials/head %>
</head>

<body>
    <nav class="default">
        <div class="logo">
            <img src="assets/logo.png" alt="site logo">
        </div>
    </nav>
    <% if (user) { %>
        <h1> <%= user.name %></h1>
    <% } %>
    <header>
        <img src="assets/header.jpg" alt="" class="header-bg">
        <div class="gradient-mask"></div>
        <h1>Zoek de ideale kunstzinnige partner</h1>
    </header>
    <main class="main-home">
        <a class="sub-cta" href="/register">Log-in</a>
        <a class="main-cta" href="/account">Profiel pagina</a>
    </main>
    <script src="http://localhost:3000/js/main.js"></script>
</body>
