<html lang="nl" dir="ltr">
    <head>
        <% include partials/head %>
    </head>
    <body class="">
        <nav class="detail">
            <div class="back">
                <a href="/account"><</a>
            </div>
            <h2>Settings</h2>

        </nav>

        <main style="color:white !important; margin-top:60px;">
            <% include partials/settingsForm %>

            <a href="/remove" class="sub-cta">Detete my account</a>
        </main>
    </body>
</html>
